@page
@model asp_presentacion.Pages.Ventanas.FacturacionModel
@{
    ViewData["Titulo"] = "";
}
<center>
    <div>
        <form method="POST"
              enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div class="table-container">
                <div class="table-header">
                    <h3 class="table-title">Facturación</h3>
                    <div class="table-actions">
                        <button class="btn btn-primary btn-sm"
                                asp-page-handler="BtNuevo"
                                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)">
                            + Registrar Vehículo
                        </button>
                        <button class="btn btn-primary btn-sm"
                                asp-page-handler="BtExportar"
                                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)">
                            📊 Exportar
                        </button>
                        <button class="btn btn-primary btn-sm"
                                asp-page-handler="BtRefrescar"
                                disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)">
                            ↺ Refrescar
                        </button>
                    </div>
                </div>
            </div>

            <div align="left">
                <h3>Factura</h3>
            </div>

            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Id" />
            }
            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {


                <input type="hidden"
                       asp-for="@Model.Actual!._Cliente!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!._Cliente!.Apellido" />
                <input type="hidden"
                       asp-for="@Model.Actual!._Reparacion!.Descripcion_trabajo" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Fecha_emision" />
                <input type="hidden"
                       asp-for="@Model.Actual!._Reparacion!.Costo_estimado" />
            }

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Factura</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre del cliente
                            </label>
                            <div class="col-lg-6">
                                <input id="nmCliente"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!._Cliente!.Nombre + ' ' + Model.Actual!._Cliente!.Apellido" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Vehículo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmVehiculo"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!._Reparacion!._Diagnostico!._Vehiculo!.Marca + ' ' + Model.Actual!._Reparacion!._Diagnostico!._Vehiculo!.Modelo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Diagnóstico
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDiagnostico"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!._Reparacion!._Diagnostico!.Descripcion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Descripción del trabajo
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDescripciontrb"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!._Reparacion!.Descripcion_trabajo" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Mecánico
                            </label>
                            <div class="col-lg-6">
                                <input id="nmMecanico"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!._Reparacion!._Diagnostico!._Empleado!.Nombre + ' ' + Model.Actual!._Reparacion!._Diagnostico!._Empleado!.Nombre" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Total
                            </label>
                            <div class="col-lg-6">
                                <input id="nmTotal"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Total" />
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @* @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>

                            <h4 align="left">
                                Desea borrar la entidad?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            } *@

            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input id="flCliente"
                       class="cts_forms form-control"
                       asp-for="@Model.Filtro!.Id_cliente"
                       placeholder="Id del cliente" />
                <br />

                <div class="containers_vn panel panel-default">


                    <table class="tb_data table table-striped table-bordered table hover">
                        <tr>
                            <th>
                                Nombre cliente
                            </th>
                            <th>
                                Vehículo
                            </th>
                            <th>
                                Diagnóstico
                            </th>
                            <th>
                                Descripción del trabajo
                            </th>
                            <th>
                                Mecánico
                            </th>
                            <th>
                                Total
                            </th>
                            <th class="cl_actions">
                                Accion
                            </th>
                        </tr>
                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento._Cliente!.Nombre @elemento._Cliente!.Apellido
                                    </td>
                                    <td>
                                        @elemento._Reparacion!._Diagnostico!._Vehiculo!.Marca @elemento._Reparacion!._Diagnostico!._Vehiculo!.Modelo
                                    </td>
                                    <td>
                                        @elemento._Reparacion!._Diagnostico!.Descripcion
                                    </td>
                                    <td>
                                        @elemento._Reparacion!.Descripcion_trabajo
                                    </td>
                                    <td>
                                        @elemento._Reparacion!._Diagnostico!._Empleado!.Nombre @elemento._Reparacion!._Diagnostico!._Empleado!.Apellido
                                    </td>
                                    <td>
                                        @elemento.Total
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modicar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>