@page
@model asp_presentacion.Pages.Ventanas.RepuestosModel
@{
    ViewData["Titulo"] = "";
}

<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>Repuestos</h3>
            </div>

            <div align="left" class="bt_panel_buttons">
                <input type="submit" value="Refrescar" asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Nuevo" asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Guardar" asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
                <input type="submit" value="Cancelar" asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas)" />
            </div>



            @if (Model.Accion != lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }


            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id_proveedor" />
                <input type="hidden" asp-for="@Model.Actual!.Nombre_repuesto" />
                <input type="hidden" asp-for="@Model.Actual!.Marca" />
                <input type="hidden" asp-for="@Model.Actual!.Precio" />
                <input type="hidden" asp-for="@Model.Actual!.Stock" />
            }



            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>Repuesto</h3>

                    <div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">ID Proveedor</label>
                            <div class="col-lg-6">
                                <input class="cts_forms form-control" asp-for="@Model.Actual!.Id_proveedor" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Nombre del repuesto</label>
                            <div class="col-lg-6">
                                <input class="cts_forms form-control" asp-for="@Model.Actual!.Nombre_repuesto" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Marca</label>
                            <div class="col-lg-6">
                                <input class="cts_forms form-control" asp-for="@Model.Actual!.Marca" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Precio</label>
                            <div class="col-lg-6">
                                <input class="cts_forms form-control" asp-for="@Model.Actual!.Precio" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-4 control-label">Stock</label>
                            <div class="col-lg-6">
                                <input class="cts_forms form-control" asp-for="@Model.Actual!.Stock" />
                            </div>
                        </div>
                    </div>
                </div>
            }



            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden" asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
            }



            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">Mensaje</h2>
                            <h4 align="left">¿Desea borrar el repuesto?</h4>

                            <h6 align="left">
                                Nombre: @Model.Actual!.Nombre_repuesto
                                - Marca: @Model.Actual!.Marca
                            </h6>

                            <br /><br />
                            <input type="submit" value="Borrar" asp-page-handler="BtBorrar" class="btn btn-secondary" />
                            <input type="submit" value="Cerrar" asp-page-handler="BtCancelar" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }



            @if (Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Listas ||
                        Model.Accion == lib_dominio.Nucleo.Enumerables.Ventanas.Borrar)
            {
                <div class="containers_vn panel panel-default">
                    <h4>Filtros</h4>

                    <input class="cts_forms form-control" asp-for="@Model.Filtro!.Id_proveedor" placeholder="ID Proveedor (opcional)" />
                    <br />
                    <input class="cts_forms form-control" asp-for="@Model.Filtro!.Nombre_repuesto" placeholder="Nombre del repuesto (opcional)" />
                    <br />
                    <input class="cts_forms form-control" asp-for="@Model.Filtro!.Marca" placeholder="Marca (opcional)" />
                    <br />
                    <input class="cts_forms form-control" asp-for="@Model.Filtro!.Precio" placeholder="Precio (opcional)" />
                    <br />
                    <input class="cts_forms form-control" asp-for="@Model.Filtro!.Stock" placeholder="Stock (opcional)" />
                    <br />

                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>ID</th>
                            <th>ID Proveedor</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Precio</th>
                            <th>Stock</th>
                            <th class="cl_actions">Acción</th>
                        </tr>

                        @if (Model.Lista != null)
                        {
                            @foreach (var r in Model.Lista)
                            {
                                <tr>
                                    <td>@r.Id</td>
                                    <td>@r.Id_proveedor</td>
                                    <td>@r.Nombre_repuesto</td>
                                    <td>@r.Marca</td>
                                    <td>@r.Precio</td>
                                    <td>@r.Stock</td>

                                    <td>
                                        <input type="submit" value="Modificar" asp-page-handler="BtModificar"
                                               class="btn btn-secondary" asp-route-data="@r.Id" />
                                        <input type="submit" value="Borrar" asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary" asp-route-data="@r.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>
